@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.navbar {
    background-color: #FF5F5D !important;
}

li a {
    color: #ffff !important; 
    font-family: 'Source Sans Pro', sans-serif;
}

.figure_banner {
    position: relative;
}
.img_photo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
}

.figure_banner figcaption {
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 300%;
}

.location_one, .location_three {
    background-color: #747E7E;
    color: #ffff;
    font-size: 18px;
    padding: 13%;
    font-family: 'Source Sans Pro', sans-serif;
}

.location_two {
    background-color: #ffff;
    color: #747E7E;
    font-size: 18px;
    padding: 13%;
    font-family: 'Source Sans Pro', sans-serif;
}

.img_viaja_mais {
    max-width: 100%;
}